# EDSP Python Challenge

### 1. Complete the code below to print the value 3 from the given array

In [ ]:
import numpy as np
np_2d=np.array([[2,3],[4,5],[6,7]])

### 2. Complete the code below to print the value [12,3] using slicing

In [ ]:
x=[10,12,3,7,8]

### 3. What is the following code printing? Please add a new cell to write your answer

In [ ]:
p=1

q="EDSP"

print(q*p)

### 4. Complete the code to return the output

In [ ]:
___ math

print(math.pi)

### 5. Complete the code to return the output 3

In [ ]:
distance=15

velocity=5

print(distance _?_ velocity)

### 6. Modify the code below to print [8,4,6]

In [ ]:
import numpy as np
m = np.array([6, 2, 4])
n = ?
print(m + n)

### 7. Complete the code to return the output

In [ ]:
i = 1
while i < 5 ?
  print(i)
  i += 1

### 8. Fill in the blanks so that the program below produces the following output:

first time: [1, 3, 5] 

second time: [3, 5]

In [ ]:
values = ____
values.____(1)
values.____(3)
values.____(5)
print('first time:', values)
values = values[____]
print('second time:', values)

### 9. Please re-write the code so that the if-block is folded into a function.

In [ ]:
import random
for i in range(10):

    # simulating the mass of a chicken egg
    # the (random) mass will be 70 +/- 20 grams
    mass = 70 + 20.0 * (2.0 * random.random() - 1.0)

    print(mass)
   
    # egg sizing machinery prints a label
    if mass >= 85:
       print("jumbo")
    elif mass >= 70:
       print("large")
    elif mass < 70 and mass >= 55:
       print("medium")
    else:
       print("small")

Solution

### 10a. From the cars dataset (called data), select records with Maruti brand and mileage > 25

In [ ]:
# importing the module
import pandas as pd
   
# creating a sample dataframe
data = pd.DataFrame({'Brand' : ['Maruti', 'Hyundai', 'Tata',
                                'Mahindra', 'Maruti', 'Hyundai',
                                'Renault', 'Tata', 'Maruti'],
                     'Year' : [2012, 2014, 2011, 2015, 2012, 
                               2016, 2014, 2018, 2019],
                     'Kms Driven' : [50000, 30000, 60000, 
                                     25000, 10000, 46000, 
                                     31000, 15000, 12000],
                     'City' : ['Gurgaon', 'Delhi', 'Mumbai', 
                               'Delhi', 'Mumbai', 'Delhi', 
                               'Mumbai','Chennai',  'Ghaziabad'],
                     'Mileage' :  [28, 27, 25, 26, 28, 
                                   29, 24, 21, 24]})

Solution

### 10b. Select range of rows from 2 to 5 from the cars dataset (data).

### 10c. Update the values of Mileage to be 22 if the Year < 2015 in the cars dataset (data).

### 10d. Select the 0th, 2nd, 4th, and 7th index rows from the cars dataset (data).

### 11. Draw a line in a diagram from position (1, 3) to position (8, 10). 

It should look like this: 

<img src=plot.png>